@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
  display: flex;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #ebebff;
  flex-direction: column;
  width: 375px;
  margin: 0;
}

.header {
  height: auto;
  margin-left: 0;
  justify-content: space-between;
  background-color: #fff;
  display: flex;
  width: 100%;
}

.logo {
  font-weight: 700;
  margin-left: 10px;
  font-size: 18px;
  color: #6070ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 0 80px;
}

.menu {
  justify-content: center;
  margin-right: 22px;
}

.HeadLine {
  
  border-bottom-left-radius: 50px;
  background-color: #fff;
  width: 100%;
  height: auto;
  background-image: url("./h1.png");
  background-repeat: no-repeat;
}

.intro {
  margin-left: 30px;
  margin-top: 25%;
  color: #172b4d;
  font-size: 40px;
  width: 70%;
}

.para {
  width: 327px;
  height: 146px;
  margin-left: 30px;
  font-size: 16px;
  color: #344563;
  margin-bottom: 0px;
}

.connect {
  color: #7f8cff;
  margin-left: 30px;
  font-weight: 500;
  cursor: pointer;
  font-weight: bold;
}

.icon {
  display: flex;
  width: 170px;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-self: flex-start;
  cursor: pointer;
  padding-left: 22px;
}
